<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">

</head>

<body
  style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important;">
  <table class="body"
    style="border-collapse: collapse; border-spacing: 0; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; height: 100%; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tr style="padding: 0; text-align: left; vertical-align: top;">
      <td align="center" valign="top" class="center"
        style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word;">
        <center style="min-width: 580px; width: 100%;">
          <!-- Email content-->
          <table class="container"
            style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 580px;">
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <td
                style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-break: break-word;">
                <img src="https://sistemaglobal.com.ar/assets/images/logoTeckelBit.png" class="header"
                  alt="logo teckel bit"
                  style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: none; margin: 20px auto 40px auto; max-width: 100%; outline: none; text-decoration: none; width: auto;">
              </td>
            </tr>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <td
                style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-break: break-word;">
                <center class="content" style="min-height: 400px; min-width: 580px; width: 100%;">
                  <h3 class="text-center title"
                    style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 32px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 40px; padding: 0; text-align: center; word-break: normal;">
                    Hey {{username}}!</h3>
                  <p class="text-center"
                    style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">
                    Verify your e-mail account
                  </p>
                  <p class="text-center"
                    style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">
                    This verification is for authenticating the account for {{username}}</p>
                  <h5 class="text-center"
                    style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 24px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: center; word-break: normal;">
                    {{code}}</h5>
                </center>
              </td>
            </tr>
            <tr style="padding: 0; text-align: left; vertical-align: top;">
              <td class="footer"
                style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word;">
                <p class="text-muted text-center"
                  style="color: #777; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">
                  © 2050 TeckelBit. All Rights Reserved.</p>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>

</html>
